<nav class="navbar">
    <div class="navbar-header">
        <mat-icon class="navbar-logo">all_inclusive</mat-icon>
        <div class="navbar-title">
        <a routerLink="/apod" class="navbar-title">Orbitrix</a>
        </div>
    </div>
    <div class="navbar-menu">
        <a routerLink="/mars-gallery" routerLinkActive="active">Mars</a>
        <a routerLink="/asteroids" routerLinkActive="active">Asteroids</a>
        <a routerLink="/events" routerLinkActive="active">Events</a>
    </div>
</nav>